<!-- Footer Section -->
<footer class="page-footer font-small text-white pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3 pr-2">
        <h5 class="text-uppercase">Food Ordering System</h5>
        <p>
          Order your food fast.
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3" />
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">About Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/AboutUs">About</a>
          </li>
          <li>
            <a href="/ContactUs">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Admin</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/adminlogin">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href=""> HiHello.com </a>
  </div>
</footer>
<!-- End Footer Section -->

<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/scripts/menu.js"></script>
<script src="/scripts/mycart.js"></script>
</body>
</html>
