<%- include('partials/headerLogin') %>

<form
  style="
    background-color: #333;
    padding: 30px;
    margin-top: 160px;
    border-radius: 10px;
    opacity: 0.8;
  "
  class="form-signin text-center"
  action="/adminlogin"
  method="POST"
>
  <h1 class="h3 mb-3 font-weight-normal">Admin Login</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input
    type="text"
    id="inputUser"
    class="form-control"
    placeholder="Username"
    name="username"
    required
    autofocus
  />
  <label for="inputPassword" class="sr-only">Password</label>
  <input
    type="password"
    id="inputPassword"
    class="form-control"
    name="password"
    placeholder="Password"
    required
  />
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  <p class="mt-5 mb-3 text-muted">&copy; Foodex</p>
</form>

<%- include('partials/footerLogin') %>
