<!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
   <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="/css/contact.css">
   <link rel="icon" href="/images/favicon.ico"/>
   

    <!-- Add font awesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      body{
        font-family: "Montserrat";
      }
      h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
} 
    </style>
   <title>Contact Us</title>
    </head>
     <body style="min-height: 100%;">
   <!-- contact section -->
         <section style="text-align: center;" id="contact-section">
           <div class="container">
           	 <h2 style="font-size: 50px;">Contact Us</h2>
              <p>Email us and keep upto date with our latest recipes</p>
             <div class="contact-form">

                  <!-- First grid -->
               <div>
                 <i class="fa fa-map-marker"></i><span class="form-info">  IIT Indore</span><br>
                 <i class="fa fa-phone" > </i><span class="form-info">  +91 00034567890</span><br>
                 <i class="fa fa-envelope"></i><span class="form-info">  HiHello@gmail.com</span>
               </div>
               
                   <!-- second grid -->
           
               </div>
             </div>
           </div>
         </section>

         
        </body>