<%- include("partials/header"); -%>

<!-- Main HomePage Section -->
<div class="jumbotron jumbotron-fluid">
  <div class="centered"><h1 style="font-size: 300px; color: white;">Foodex</h1>
  </div>
</div>
<!-- End Main Homepage Section -->

<section style="background-color: #fff; text-align: center" id="features">
  <div style="padding: 0.8% 13%">
    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">100% COVID-19 safe</h3>
        <p>We take the utmost care while preparing our meals</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-bullseye fa-4x"></i>
        <h3 class="feature-title">Elite Chefs</h3>
        <p>Each and every member of our kitchen is a master. Try them.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-heart fa-4x"></i>
        <h3 class="feature-title">Tastiest In Town</h3>
        <p>Ask your relatives...one of them will surely recommend us.</p>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
